@model RealtorCMS.Models.EnquiryViewModel
@{
    ViewBag.Title = "About";
}
<div class="container body-content full-screen">

    <h1>Our goal is to be informative and helpful.</h1>
    <h3>Through our service we hope to earn your business with our exemplary level of service and extensive local knowledge of the Temecula Valley area.</h3>
    <p>
        Give us a call at <a href="tel:+01-562-867-5309">1-562-867-5309</a> -OR- Write to us
    </p>
    <div class="row">
        <div class="col-md-6 col-md-push-0 margin-bottom">
            <img src="~/Content/Real-Estate-Agent.jpg" class="img-responsive" />
        </div>


        <div class="col-md-6 col-md-push-0">
            <form class="form-horizontal" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group ">
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone number" } })
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="6" name="Message" placeholder="Your message" required style="min-width: 100%"></textarea>
                        @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="Submit" class="btn btn-primary">Send Message</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
